server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/accountService
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: ACCOUNT-SERVICE
  config:
    import: optional:configserver:http://config-server:8888
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/
resilience4j:
  circuitbreaker:
    instances:
      customerService:
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
  

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone : http://localhost:8761/eureka



