server:
  port: 8085

spring:
  application:
    name: CONFIG-SERVER
  cloud:
    config:
      server:
        git:
          uri: https://github.com/pankajsingh09/microservice-Configuration
          clone-on-start: true
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/