version: '3.8'

services:

  service-registry:
    build: ./ServiceRegistry
    container_name: service-registry
    ports:
      - "8761:8761"
    networks:
      - banking-network

  config-server:
    build: ./ConfigServer
    container_name: config-server
    ports:
      - "8888:8888"
    depends_on:
      - service-registry
    networks:
      - banking-network

  api-gateway:
    build: ./ApiGateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - service-registry
      - config-server
    networks:
      - banking-network

  account-service:
    build: ./account_service
    container_name: account-service
    ports:
      - "8081:8081"
    depends_on:
      - service-registry
      - config-server
    networks:
      - banking-network

  customer-service:
    build: ./customerManagementService
    container_name: customer-service
    ports:
      - "8082:8082"
    depends_on:
      - service-registry
      - config-server
    networks:
      - banking-network

networks:
  banking-network:
    driver: bridge
